
@{
    ViewData["Title"] = "Confirmation";
}

<h1>We've Received Your Order!</h1>

<p>We will be contacting you soon to confirm your rental.</p>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Homepage</a>
</div>

